/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol, ul {
	list-style: none;
}

/* end css reset */

body {
	/* if the user has georgia, that's right. but don't let them fallback to times new roman! */
	font: 0.8em 'Georgia', 'Arial', sans-serif;
	line-height: 150%;
	color: #424242;
}

a {
	color: #69c;
	text-decoration: none;
}

a:hover {
	color: #111;
}

header {
	background: #f8f8f8;
	border-bottom: 1px solid #eee;
	padding: 15px 0;
	margin: 0 0 20px 0;
}

header a {
	width: 570px;
	margin: 0 auto;
	display: block;
	text-decoration: none;
	font-size: 18pt;
	font-weight: bold;
	color: #202020;
}

section {
	width: 600px;
	margin: 0 auto;
}

article {
	border: 5px solid #fafafa;
	background: #eee;
	padding: 1px;
	margin-bottom: 25px;
}

article div.content {
	background: white;
	padding: 10px;
}

article .content p, li {
	text-align: justify;
	margin-bottom: 8px;
}

article .content p:last-child {
	margin: 0;
}

article a.title {
	font-size: 14pt;
	font-weight: bold;
	color: #202020;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
}

article img {
	margin: 10px auto;
	display: block;
	background: #eee;
	padding: 1px;
	border: 5px solid #fafafa;
}

ol, ul {
	margin-left: 25px;
	list-style: disc;
}

article .meta {
	border-top: 1px solid #eee;
	background: #fafafa;
	padding: 5px 10px;
	font-size: 8pt;
}

article .meta a {
	color: #424242;
}

article .meta a.comments {
	float: right;
}

footer {
	width: 570px;
	margin: 14px auto;
	font-size: 8pt;
	color: #ababab;
	text-align: center;
}

.pager {
	margin: 20px 0;
	text-align: center;
}

.pager span,
.pager a {
	margin-right: 12px;
}

.pager span::last-child,
.pager a::last-child {
	margin-right: 0;
}

section.archive h3,
section.archive h4 {
	font-weight: bold;
}

section.archive h3 {
	font-size: 16pt;
	margin: 8px 0;
}

section.archive h4 {
	font-size: 12pt;
	margin: 6px 0 6px 6px;
}

section.archive p {
	margin-left: 20px;
}

article blockquote, pre {
	border-left: 5px solid #fafafa;
	color: #666;
	margin: 0 0 8px 12px;
	padding: 3px 8px;
}

li blockquote {
	margin: 8px 0 8px 12px;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	font-weight: bold;
	margin-bottom: 8px;
}

article h3 {
	font-size: 13pt;
}

article h4 {
	font-size: 11pt;
}

div.warning {
	font-size: 8pt;
	text-align: center;
	padding: 2px 0;
	border-bottom: 1px solid #eee;
	margin-bottom: 12px;
	margin-top: -8px;
}

aside.comment, dl.comment-form {
	clear: both;
	margin-bottom: 10px;
	overflow: hidden;
}

aside.comment .meta, dl.comment-form dt {
	width: 150px;
	float: left;
	font-size: 9pt;
	padding: 5px 8px;
	text-align: right;
}

aside.comment .meta span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

aside.comment .meta .nick {
	font-weight: bold;
}

aside.comment .meta .date {
	font-size: 8pt;
}

aside.comment .text, dl.comment-form dd {
	border-left: 1px solid #eee;
	padding: 5px 8px;
	margin-left: 165px;
	font-size: 9pt;
	min-height: 40px;
}

dl.comment-form {
}

dl.comment-form dd {
	padding: 2px;
	border-left: 0 none;
}

dl.comment-form dd input[type=text],
dl.comment-form dd input[type=email],
dl.comment-form dd textarea {
	border: 1px solid #eee;
	box-shadow: inset 0 5px 8px -8px black;
	font: 9pt 'Georgia', 'Arial', sans-serif;
	color: #424242;
	padding: 3px;
	width: 200px;
}

dl.comment-form dd input[type=text]:focus,
dl.comment-form dd input[type=text]:hover,
dl.comment-form dd input[type=email]:focus,
dl.comment-form dd input[type=email]:hover,
dl.comment-form dd textarea:focus,
dl.comment-form dd textarea:hover {
	border: 1px solid #ddd;
	box-shadow: inset 0 5px 8px -8px black;
}

dl.comment-form dd input[name=captcha] {
	width: 30px;
}

dl.comment-form dd textarea {
	width: 300px;
	height: 100px;
}

dl.comment-form dd input[type=submit] {
	padding: 3px 10px;
	border: 1px solid #ddd;
	background: #f3f3f3;
	font: 9pt 'Georgia', 'Arial', sans-serif;
	color: #424242;
	text-shadow: 1px 1px white;
	box-shadow: inset 0 12px 8px -8px white, 0 1px 3px #dadada;
	margin-left: 0px;
	cursor: pointer;
}

dl.comment-form dd input[type=submit]:active {
	margin: 3px 0 0 1px;
}

article code {
	font-family: 'Consolas', 'Ubuntu Mono', 'Liberation Mono', 'Lucida Console', monospace;
	font-size: 9pt;
}

article p code {
	background: #fafafa;
	padding: 4px 2px 0 2px;
	border-radius: 2px;
	/* so it doesn't push the line */
	line-height: 0;
}

article pre {
	overflow-x: auto;
	width: 520px;
}

article pre code {
	font-size: 8pt;
	line-height: 8px;
}

article pre::-webkit-scrollbar {
	height: 6px;
}
 
article pre::-webkit-scrollbar-track {
	border-radius: 0 3px 3px 0;
	background: #fafafa;
}

article pre::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #ccc;
}
