<div class="comment" id="comment-{{comment.order}}">
	<div class="meta">
{#	<img src="{{comment.avatar}}" /> #}
{% if comment.url %}
{# comment.safeurl is safe since we have to urlencode it before including it here #}
		<span class="nick"><a href="{{comment.url_safe|safe}}" target="_blank" rel="nofollow">{{comment.nick|escape}}</a></span>
{% else %}
		<span class="nick">{{comment.nick|escape}}</span>
{% endif %}
		<a href="#comment-{{comment.order}}"><span class="date">{{comment.hdate}}</span></a>
	</div>
	<div class="text">
{# we don't use esacpe because we have our own function in classes/comment.php #}
		<p>{{comment.text}}</p>
{% if comment.reply %}
		<blockquote>
			{{comment.reply}} — {{comment.poster}}
		</blockquote>
{% endif %}
	</div>
</div>
