<article>
	<div class="content">
		<a class="date" href="{{post.permalink}}" title="Publicado el {{post.hdate|escape}} por {{post.nick|escape}}">
			<span class="day">{{post.cdate.e}}</span>
			<span class="month">{{post.cdate.b}}</span>
		</a>
		<a class="title" href="{{post.permalink}}">{{post.title|escape}}</a>
		<div class="text">
			{{post.text}}
		</div>
	</div>
	<div class="meta">
{# weird but needed, there's no support for elseif in haanga #}
{% if post.comment_count > 1 %}
		<a class="comments rbutton" href="{{post.permalink}}#comments">{{post.comment_count}} comentarios</a>
{% else %}
	{% if post.comment_count == 1 %}
		<a class="comments rbutton" href="{{post.permalink}}#comments">Un comentario</a>
	{% else %}
		{% if post.comment_status == 'open' %}
		<a class="comments rbutton" href="{{post.permalink}}#comment-form">Deja un comentario</a>
		{% else %}
		<a class="comments rbutton">Comentarios cerrados</a>
		{% endif %}
	{% endif %}
{% endif %}
	<div class="clearit"></div>
	</div>
</article>
{% if post.warning && !post.listing && post.comment_status == 'closed' %}
<div class="warning">
	{{post.warning}}
</div>
{% endif %}