			</div>
			<div class="clear"></div>
			<div class="sidebar">
		<!--
{% if html.theme_req.nav_buttons.available %}
				<div class="nav_buttons">
	{% if html.theme_req.nav_buttons.prev %}
					<a href="/{{html.theme_req.nav_buttons.prev.permaid}}" title="{{html.theme_req.nav_buttons.prev.title|escape}}">« anterior</a>
	{% endif %}
	{% if html.theme_req.nav_buttons.next %}
					<a href="/{{html.theme_req.nav_buttons.next.permaid}}" title="{{html.theme_req.nav_buttons.next.title|escape}}">siguiente »</a>
	{% endif %}
				</div>
{% endif %}
-->
				<div class="footer">
					<a href="{{settings.url}}rss">RSS</a> — <a href="{{settings.url}}archive">Archivo de posts</a>
				</div>
			</div>
		</div>
	</body>
</html>
