<form method="post" action="{{form.action}}">
{% if post.warning %}
<div class="warning">
	{{post.warning}}
</div>
{% else %}
<div class="warning">Leave a comment</div>
{% endif %}
<dl class="comment-form" id="comment-form">
	<dt>{% trans _('Your name:') %}</dt>
	<dd><input type="text" name="nick" value="{% if form.nick %}{{form.nick}}{% endif %}" /></dd>
	<dt>{% trans _('Your e-mail (optional):') %}</dt>
	<dd><input type="email" name="mail" value="{% if form.mail %}{{form.mail}}{% endif %}" /></dd>
	<dt>{% trans _('Your website (optional):') %}</dt>
	<dd><input type="text" name="url" value="{% if form.url %}{{form.url}}{% endif %}" /></dd>
	<dt>{% trans _('Your comment:') %}</dt>
	<dd><textarea name="text">{% if form.nick %}{{form.text}}{% endif %}</textarea></dd>
	<dt>{{form.captcha}}</dt>
	<dd><input type="text" name="captcha" maxlength="2" /></dd>
	<dt></dt>
	<dd><input type="submit" value="{% trans _('Send comment') %}" />
</dl>
<input type="hidden" name="seed" value="{{form.seed}}" />
<input type="hidden" name="auth" value="{{form.auth}}" />
</form>
